<div class="bg-green-50 flex flex-wrap md:grid grid-cols-3 p-5 space-x-4 space-y-4">
    <div class="flex flex-col justify-center items-center space-y-5">
        <p class="text-5xl font-semibold text-wrap"> Take The Worry Out Of Life With <span
                class="text-green-700">Insurance</span> Protection</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt quos non iure dicta quasi consequatur
            dolorum corrupti dolorem consectetur rerum similique, ipsa porro rem voluptatem, aliquid modi! Nisi, error
            quis?
        </p>
        <div class="flex flex-wrap space-x-5 gap-3 items-center justify-center mx-auto">
            <button class="px-4 py-2 bg-green-600 rounded text-white"> &gt; Get Started</button>
            <button class="border px-4 py-2 border-green-500 text-green-500 rounded"> Contact Us </button>
        </div>
    </div>
    <div class="col-span-2">
        <img src="../../../assets/images/insurance_family.jpg" alt="" class="">
    </div>
</div>