<div class="bg-green-50 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-5 mt-5 gap-3">


    <div class="flex flex-col justify-center space-y-4">
        <h1 class="font-bold text-green-700 text-4xl">Logo</h1>

        <p> <span class="font-semibold"> Location: </span> Isr Street gilrt awam juim</p>
        <p> <span class="font-semibold">Contact:</span> + 9 5555559909</p>
        <p> <span class="font-semibold">Time:</span> (9am - 5pm EST, Monday - Friday)</p>
        <p> <span class="font-semibold">Email:</span> {{'youme@Rule.com'}}</p>
    </div>
    <div class="flex items-center justify-center">
        <div class="flex flex-col space-y-5">
            <h1 class="font-semibold text-3xl">Company</h1>
            <a href="#">Case Studies</a>
            <a href="#">Case Details</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Services</a>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="flex flex-col space-y-5">
            <h1 class="font-semibold text-3xl">Explore</h1>

            <a href="#">About Us</a>
            <a href="#">Blog And News</a>
            <a href="#">Blog Details</a>
            <a href="#">Pricing</a>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="flex flex-col space-y-5">
            <h1 class="font-semibold text-3xl">Insurance</h1>

            <a href="#">Health Insurance</a>
            <a href="#">Car Insurance</a>
            <a href="#">Business Insurance</a>
            <a href="#">Life Insurance</a>
        </div>
    </div>
</div>